<div class="row mt-5">
    <div class="row mt-2">
        <div class="col-8 mt-5">
            <h3 class="fw-bold text-center" style="color: #87CEEB;">GIỚI THIỆU</h3>
            <h5>
                Phải chia sẻ thật là rất nhiều người đặt câu hỏi này cho đội ngũ N3T, nhưng gần đây, khi N3T bước
                sang 3 tuổi thì chúng tôi mới có được câu trả lời một cách rõ ràng và tự tin cho câu hỏi này.
                <br>
                "N3T" sinh ra với mong muốn trở thành điển hình về mô hình DOANH NGHIỆP TRÁCH NHIỆM bằng cách vừa làm
                kinh
                doanh bài bản, có lợi nhuận và đồng thời mang lại những giá trị thiết thực và lâu dài cho khách hàng,
                cho nhân
                viên, cho đối tác, cho cộng đồng, xã hội và cho cổ đông"
                <br>
                N3T thành lập vào tháng 3/2019, Nhu (CEO), Hiệp (CTO) và Lan (CMO) khởi đầu với một nhà kho 20m2, và một
                Website bán hàng sơ khai, với các sản phẩm rất cơ bản dành cho nam giới như áo thun, bít tất và đồ lót.
                Sau 3
                năm, thì ngày hôm nay N3T đã có sự trưởng thành đáng kể.
                <br>
                N3T vẫn bán áo thun, đồ lót và bít tất, và cũng có thêm khá nhiều các sản phẩm khác trong tủ đồ nam giới
                như các đồ mặc đi chơi, mặc đi làm, hay chơi thể thao. Chúng tôi cũng bán cả mũ, cả khẩu trang, khăn mặt
                và 1 số
                áo in để dành tiền quyên góp cho một số quỹ từ thiện (danh mục Care & Share). N3T còn có thêm dịch vụ
                làm
                các sản phẩm in ấn theo yêu cầu (dịch vụ CoolxPrint), và là đơn vị tiên phong với mô hình giao đồ lót
                định kỳ
                đầu tiên tại Việt Nam (dịch vụ CoolSub).
                <br>
                Và chắc chắn là chúng tôi sẽ không dừng lại ở những thứ đó. N3T sẽ mở rộng hơn các sản phẩm, dịch vụ
                xoay
                quanh nhu cầu của nam giới. Nên một ngày đẹp trời, nếu như mà bạn tìm thấy một đôi giày, bộ dao cạo râu,
                hay một
                lọ lăn khử mùi hay thậm chí là những chiếc bao cao su chất lượng ở Website thì cũng đừng ngạc nhiên nhé.
                <br>
                Sau 3 năm chúng tôi cũng có gần 2000m2 văn phòng và kho vận hành ở tại Hà Nội và Hồ Chí Minh. Gia đình
                N3T
                cũng lên tới gần 100 thành viên. Số lượng đơn hàng mà N3T đã xử lý tới thời điểm hiện tại đã lên tới con
                số
                gần 1 triệu.
            </h5>

        </div>
        <div class="col-4  mt-5">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/img/giay1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/img/giày3.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/img/giay4.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-4">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/img/giay4.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/img/giay1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/img/giay2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-8 mt-5">
            <h3 class="fw-bold" style="color: #87CEEB;">Câu chuyện dịch vụ khách hàng của N3T</h3>
            <h5>
                Theo một khảo sát gần đây nhất của N3T tự thực hiện thì có tới 51% khách hàng quyết định mua sắm ở
                N3T vì ấn tượng với dịch vụ khách hàng. 94% khách hàng sẵn sàng giới thiệu N3T với những người
                khác.
                <br>
                Ở N3T, chúng tôi tin rằng việc bán một gói hàng đó là bán cả một trải nghiệm mua sắm. N3T có
                kỳ vọng trở thành một thương hiệu điển hình về việc hướng tới khách hàng một cách sâu sắc tại Việt Nam.
                Với mong muốn góp một phần nhỏ thay đổi nhận thức của các doanh nghiệp trong việc mang tới những trải
                nghiêm tốt hơn cho khách hàng, đặc biệt trong lĩnh vực Thương Mại Điện Tử.
                <br>
                N3T là thương hiệu đầu tiên và hiện tại vẫn là duy nhất có chính sách đổi trả MIỄN PHÍ và lên tới
                60 ngày với bất cứ lý do gì. Chúng tôi đã xây dựng được việc đổi hàng và lấy hàng trả về tận nhà khách
                hàng, thậm chí chúng tôi thường xuyên gửi sản phẩm mới cho khách hàng trước khi cần thu hồi sản phẩm cũ
                về. Và điều vui mừng đó là gần đây đã có nhiều hơn các đơn vị vận chuyển chào dịch vụ này và phổ biến
                hơn ở các bạn bán hàng Online.
                <br>
                Việc đóng gói một hộp đồ với “Double Box” cũng được N3T đi tiên phong từ cách đây 2 năm, và trở
                thành phổ biến nhiều hơn ở các thương hiệu khác.
                <br>
                Nếu bạn thử hỏi CSKH N3T một tiệm Pizza ngon quanh khu vực của bạn thì chắc các bạn ấy cũng sẽ cố
                gắng tìm và gửi cho bạn một địa chỉ phù hợp đó!
            </h5>
        </div>
    </div>

    <div class="mt-3">
        <div>
            <iframe style="width: 100%; height: 100%;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9077915909875!2d105.78214261070896!3d21.036375180534026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4a06f43a3d%3A0x4a70116729ddec9f!2zMTMzIFh1w6JuIFRo4buneSwgROG7i2NoIFbhu41uZyBI4bqtdSwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1681312486458!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="mt-1 text-center">
            <h5 class="fw-bold">Địa chỉ: 133 Xuân Thủy - Cầu Giấy - Hà Nội</h5>
            <h5 class="fw-bold">Số điện thoại: 1800 2002</h5>
        </div>
    </div>
</div>