<div class="container">
    <div class="row mt-5 ">
        <h2 class="d-flex justify-content-center fw-bold">Thống kê doanh số bán hàng</h2>
    </div>

    <hr>

    <!-- <div class="col-4 mt-3 row">
        <div class="col-12 text-end">
          <select class="form-select" ng-model="selectedType" ng-change="updateForm()">
            <option disabled selected value="">Chọn loại thống kê</option>
            <option value="1">Ngày</option>
            <option value="2">Tháng</option>
          </select>
        </div>
      </div>
      <hr> 
        <div class="form-group" ng-show="selectedType == 1"> -->
            <!--Thống kê theo ngày-->
            <div>
                <div class="col-12 mt-3 row">
                    <!-- <h4>Doanh số bán hàng theo từng ngày</h4> -->
                    <div >
                        <form ng-submit="submit()">
                            <div class="form-group col-3">
                                <label for="year">Năm:</label>
                                <select class="form-control" id="year" ng-model="year" ng-change="updateChartD()"
                                    required>
                                    <option value="">Chọn năm</option>
                                    <option ng-repeat="y in years" value="{{ y }}">{{ y }}</option>
                                </select>
                            </div>
                            <div class="form-group col-3">
                                <label for="month">Tháng:</label>
                                <select class="form-control" id="month" ng-model="month" ng-change="updateChartD()"
                                    required>
                                    <option value="">Chọn tháng</option>
                                    <option value="1">Tháng 1</option>
                                    <option value="2">Tháng 2</option>
                                    <option value="3">Tháng 3</option>
                                    <option value="4">Tháng 4</option>
                                    <option value="5">Tháng 5</option>
                                    <option value="6">Tháng 6</option>
                                    <option value="7">Tháng 7</option>
                                    <option value="8">Tháng 8</option>
                                    <option value="9">Tháng 9</option>
                                    <option value="10">Tháng 10</option>
                                    <option value="11">Tháng 11</option>
                                    <option value="12">Tháng 12</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="mt-5 container-fluid">
                    <canvas id="chartD" width="800" height="400"></canvas>
                </div>
            </div>
        </div>
        <!-- <div class="form-group" ng-show="selectedType == 2">
            <div>
                <div class="row">
                    <div>
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="begin">Tháng bắt đầu:</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="begin" ng-model="beginDate"
                                            ng-change="updateChart()">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="end">Tháng kết thúc:</label>
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="end" ng-model="endDate"
                                            ng-change="updateChart()">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-5 container-fluid">
                <canvas id="chartM" width="800" height="400"></canvas>
            </div>
        </div> -->
    </div>

<script>
    document.addEventListener('keydown', function (event) {
        if (event.target.type === 'date') {
            event.preventDefault();
        }
    });
</script>