<style scoped>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

    * {
        font-family: "Poppins", sans-serif;
    }

    .container-fluid {
        background-color: rgb(219, 218, 218);
        /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS65MgdZhRn5liIRo7CwK5SQrCJQ_F565cvw&usqp=CAU"); */
        height: 670px;
        padding-top: 50px;


    }

    .register {
        background-color: #fff;
        border-radius: 20px;
        padding: 5px 30px 30px 30px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .form {
        text-align: left;
    }
</style>

<div class="container-fluid  mt-5" >
    <div class="col-xl-6 col-sm-8 m-auto mt-3 mb-3 register">
        <div class="mt-3">
            <h4 class="" style="text-align: center; color: red;">Đăng ký tài khoản</h4>
            <div class="mt-3"></div>
            <form action="">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="fullname" placeholder="Fullname *" required>
                    <label for="fullname" class="bi bi-person-circle"> Họ tên *</label>
                </div>
                <div class="form-floating  mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Username *" required>
                    <label for="username" class="bi bi-person-check-fill"> Tên đăng nhập *</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="password *" required>
                    <label for="password" class="bi bi-key-fill"> Mật khẩu *</label>
                </div>
                <div class="form-floating  mb-3">
                    <input type="text" class="form-control" id="phone" placeholder="Phone *" required>
                    <label for="phone" class="bi bi-phone-fill"> Số điện thoại *</label>
                </div>
                <div class="form-floating  mb-3">
                    <input type="text" class="form-control" id="email" placeholder="Email *" required>
                    <label for="email" class="bi bi-mailbox2"> Email *</label>
                </div>
                <div class="form-floating mb-3">
                    <div class="row mt-2">
                        <div class="col-6">
                            <input class="form-control dropdown-toggle" type="text"
                                id="addressProvince{{$index}}" ng-model="address.province"
                                ng-focus="showProvince()" placeholder="Tỉnh, thành phố...*"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                autocomplete="off" name="province" ng-required="true"
                                ng-trim="true" minlength="5" maxlength="255" />
                            <div class="dropdown-menu"
                                aria-labelledby="addressProvince{{$index}}"
                                style="width: 486px; height: 200px; overflow-y: scroll">
                                <p id="province" ng-repeat="province in listProvince"
                                    ng-click="chooseProvinceAddress(province.ProvinceID)">
                                    <a href=""
                                        style="text-decoration: none; color: black;">{{province.ProvinceName}}</a>
                                </p>
                            </div>
                            <div class="text-danger"
                                ng-hide="formUserOder.province.$untouched || formUserOder.province.$valid">
                                <small class="text-danger"
                                    ng-show="formUserOder.province.$error.required"> Không
                                    được để trống thông tin!</small>
                                <small class="text-danger"
                                    ng-show="formUserOder.province.$error.minlength">Hãy nhập
                                    thông tin hợp lệ!</small>
                                <small class="text-danger"
                                    ng-show="formUserOder.province.$error.maxlength">Không
                                    được nhập quá 255 ký tự!</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <input class="form-control dropdown-toggle" type="text"
                                id="addressDistrict{{$index}}" ng-model="address.district"
                                ng-focus="showDistrict()" placeholder="Quận/Huyện...*"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                autocomplete="off" name="district" ng-required="true"
                                ng-trim="true" minlength="5" maxlength="255" />
                            <div ng-show="address.province || $scope.provinceId"
                                class="dropdown-menu"
                                aria-labelledby="addressDistrict{{$index}}"
                                style="width: 486px; height: 200px; overflow-y: scroll">
                                <p id="district" ng-repeat="district in listDistrict"
                                    ng-click="chooseDistrictAddress(district.DistrictID)">
                                    <a href=""
                                        style="text-decoration: none; color: black;">{{district.DistrictName}}</a>
                                </p>
                            </div>
                            <div class="text-danger"
                                ng-hide="formUserOder.district.$untouched || formUserOder.district.$valid">
                                <small class="text-danger"
                                    ng-show="formUserOder.district.$error.required"> Không
                                    được để trống thông tin!</small>
                                <small class="text-danger"
                                    ng-show="formUserOder.district.$error.minlength">Hãy nhập
                                    thông tin hợp lệ!</small>
                                <small class="text-danger"
                                    ng-show="formUserOder.district.$error.maxlength">Không
                                    được nhập quá 255 ký tự!</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <input class="form-control dropdown-toggle" type="text"
                                id="addressWard{{$index}}" ng-model="address.ward"
                                ng-focus="showWard()" placeholder="Phường, xã...*"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                autocomplete="off" name="ward" ng-required="true" ng-trim="true"
                                minlength="5" maxlength="255" />
                            <div ng-show="address.district || $scope.districtId"
                                class="dropdown-menu" aria-labelledby="addressWard{{$index}}"
                                style="width: 486px; height: 200px; overflow-y: scroll">
                                <p id="ward" ng-repeat="ward in listWard"
                                    ng-click="chooseWardAddress(ward.WardCode)">
                                    <a href=""
                                        style="text-decoration: none; color: black;">{{ward.WardName}}</a>
                                </p>
                            </div>
                        </div>
                </div>
                <div class=" mt-3"></div>
                <div class="d-flex justify-content-center">
                    <a type="button" class="btn btn-outline-danger" href="#home">Hủy</a>
                    <button type="button" class="ms-1 btn btn-outline-success">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>

</div>