<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N3T SHOP</title>
  <!-- <link rel="stylesheet" href="/css/home.css"> -->
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <!-- <link rel="stylesheet" href="/icon/bootstrap-icons.css"> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="/fonts/fontawesome-free-6.0.0-beta3-web/css/all.min.css" />
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" defer></script> 
  <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/Lac.css">
  <link rel="stylesheet" href="/css/admin_dashboard.css" />
  <style>
    .loading {
        background: rgba(0, 0, 0, 0.292);
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        z-index:999;
    }

    .spinner-center {
        top: 50%;
        left: 50%;
        position: absolute;
    }
</style>
</head>

<body ng-app="app">
  
  <!-- loading -->
  <div ng-show="isLoading" class="loading">
    <div class="spinner-border text-secondary spinner-center" role="status"></div>
  </div>
  <!-- user display -->
  <div ng-if="!isAdmin" class="container responsive">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img src="images/img/logo.png" height="60" alt="Logo" loading="lazy" />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <h5>NAM</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <h5>NỮ</h5>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <h5>TRẺ EM</h5>
              </a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center me-5">
          <a class="text-reset me-3" href="#cart">
            <i class="bi bi-cart4"></i>
          </a>
          <div class="dropdown">
            <div class="btn btn-white" id="action" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
              {{user.fullname}}
            </div>
            <ul class="dropdown-menu me-5" aria-labelledby="action">
              <li>
                <a class="dropdown-item" href="#user-personal" ng-if="isLogin">Thông tin cá nhân</a>
              </li>
              <li>
                <a class="dropdown-item" href="#change-password" ng-if="isLogin">Đổi mật khẩu</a>
              </li>
              <li>
                <a class="dropdown-item" href="#login" ng-if="!isLogin">Đăng nhập</a>
              </li>
              <li>
                <a class="dropdown-item" href="#register" ng-if="!isLogin">Đăng ký</a>
              </li>
              <li ng-controller="controllerLogout">
                <a class="dropdown-item" href="#" ng-click="logout()" ng-if="isLogin">Đăng xuất<i class="bi bi-box-arrow-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <div ng-view>
    </div>
    <!-- Navbar -->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted responsive">
        <!-- Section: Social media -->
<!--        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">-->
<!--        &lt;!&ndash; Left &ndash;&gt;-->
<!--        <div class="me-5 d-none d-lg-block">-->
<!--            <span>Get connected with us on social networks:</span>-->
<!--        </div>-->
<!--        &lt;!&ndash; Left &ndash;&gt;-->
<!--    -->
<!--        &lt;!&ndash; Right &ndash;&gt;-->
<!--        <div>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--            <i class="bi bi-facebook"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--            <i class="bi bi-twitter"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--            <i class="bi bi-google"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--            <i class="bi bi-instagram"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--            <i class="bi bi-linkedin"></i>-->
<!--            </a>-->
<!--            <a href="" class="me-4 text-reset">-->
<!--            <i class="bi bi-github"></i>-->
<!--            </a>-->
<!--        </div>-->
<!--        &lt;!&ndash; Right &ndash;&gt;-->
<!--        </section>-->
    
<!--        <section class="">-->
<!--        <div class="container text-center text-md-start mt-5">-->
<!--            &lt;!&ndash; Grid row &ndash;&gt;-->
<!--            <div class="row mt-3">-->
<!--            &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">-->
<!--                &lt;!&ndash; Content &ndash;&gt;-->
<!--                <h6 class="text-uppercase fw-bold mb-4">-->
<!--                <i class="fas fa-gem me-3"></i>Company name-->
<!--                </h6>-->
<!--                <p>-->
<!--                If you are not willing to learn, no one can help you. If you are determined to learn, no one can stop-->
<!--                you.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">-->
<!--                &lt;!&ndash; Links &ndash;&gt;-->
<!--                <h6 class="text-uppercase fw-bold mb-4">-->
<!--                Contact-->
<!--                </h6>-->
<!--                <p><i class="bi bi-house-door"></i> Hà Nội , Việt Nam</p>-->
<!--                <p>-->
<!--                <i class="bi bi-mailbox2 me-3"></i>-->
<!--                info@example.com-->
<!--                </p>-->
<!--                <p><i class="bi bi-phone me-3"></i> +84 382399283</p>-->
<!--                <p><i class="bi bi-phone-fill me-3"></i> +84 738288283</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; Grid column &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; Grid row &ndash;&gt;-->
<!--        </div>-->
<!--        </section>-->
    
        <div class="text-center p-4" style="background-color: rgba(14, 183, 212, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">By N3T SHOP</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>

  <!-- admin display -->
  <div ng-if="isAdmin" class="container-fluid">
    <!-- top navigation bar -->
    <nav id="navbar-top" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #464343">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#" >
          <h4 style="color: white">N3T SHOP</h4>
        </a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#topNavBar"
          aria-controls="topNavBar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
          <form class="d-flex ms-auto my-3 my-lg-0">
            <div class="input-group">
              
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle ms-2"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-fill" style="color: white"></i>
                {{user.fullname}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end bg-light">
                <li><a class="dropdown-item" href="#user-personal">Thông tin cá nhân </a></li>
                <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>                
              </ul>
            </li>
            <li class="nav-item dropdown" ng-controller="controllerLogout">
              <a class="nav-link ms-2" href="#" ng-click="logout()" style="color: white">
                Đăng xuất
                <i class="bi bi-box-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav"
      tabindex="-1"
      id="sidebar"
      style="background-color: #464343"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-light">
          <ul class="navbar-nav">

            <li class="my-4"><hr class="dropdown-divider bg-dark" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3" style="color: white">
                Quản lý
              </div>
            </li>
            <li>
              <b>
                  <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#orderManagement" >
                  <span class="me-2"><i class="bi bi-table"></i></span>
                  <span style="color: white">Đơn hàng</span>
                  <span class="ms-auto">
                      <span class="right-icon">
                      <i class="bi bi-chevron-down"></i>
                      </span>
                  </span>
                  </a>
              </b>
              <div class="collapse" id="orderManagement">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="#order/create-order" class="nav-link px-3">
                      <span class="me-2" >
                        <i class="bi bi-file-earmark-plus"></i>
                      </span>
                      <span style="color: white">Tạo mới đơn hàng</span>
                    </a>
                  </li>
                  <li>
                    <a href="#wait-for-confirmation" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-calendar3-week"></i></span>
                      <span style="color: white">Đơn chờ xác nhận</span>
                    </a>
                  </li>
                  <li>
                    <a href="#CONFIRMED" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-calendar3-week"></i></span>
                      <span style="color: white">Đơn đang xử lý</span>
                    </a>
                  </li>
                  <li>
                    <a href="#WAIT_FOR_THE_SHIPPER_TO_PICK_UP" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-calendar3-week"></i></span>
                      <span style="color: white">Đơn chờ bên vận chuyển lấy hàng</span>
                    </a>
                  </li>
                  <li>
                    <a href="#DELIVERING" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-truck"></i></span>
                      <span style="color: white">Đơn đang giao</span>
                    </a>
                  </li>
                  <li>
                    <a href="#DELIVERED" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-calendar-check"></i></span>
                      <span style="color: white">Đơn đã giao</span>
                    </a>
                  </li>
                  <li>
                    <a href="#NO_DELIVERY" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-calendar-x"></i></span>
                      <span style="color: white">Đơn không giao được</span>
                    </a>
                  </li>
                  <li>
                    <a href="#CANCELLED" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-calendar-x"></i></span>
                      <span style="color: white">Đơn bị hủy phía cửa hàng & phía khách hàng</span>
                    </a>
                  </li>
                  <li>
                    <a href="#return-order" class="nav-link px-3">
                      <span class="me-2"><i class="bi bi-arrow-left-right"></i></span>
                      <span style="color: white">Đổi - trả hàng</span>
                    </a>
                  </li>
                  <li>
                    <a href="#order-management" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span style="color: white">Tất cả đơn hàng</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <b>
                  <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#product" >
                  <span class="me-2"><i class="bi bi-layout-split"></i></span>
                  <span style="color: white">Sản phẩm</span>
                  <span class="ms-auto">
                      <span class="right-icon">
                      <i class="bi bi-chevron-down"></i>
                      </span>
                  </span>
                  </a>
              </b>
              <div class="collapse" id="product">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="#brand-and-category" class="nav-link px-3">
                      <span class="me-2"></span>
                      <span style="color: white">Nhãn hiệu và danh mục</span>
                    </a>
                  </li>
                  <li>
                    <a href="#product" class="nav-link px-3">
                      <span class="me-2">
                      </span>
                      <span style="color: white">Sản phẩm</span>
                    </a>
                  </li>
                  <li>
                    <a href="#admin-product-properties" class="nav-link px-3">
                      <span class="me-2">
                      </span>
                      <span style="color: white">Thuộc tính sản phẩm</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <b>
                  <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#promotion" >
                  <span class="me-2"><i class="bi bi-journal-plus"></i></span>
                  <span style="color: white">Khuyến mãi</span>
                  <span class="ms-auto">
                      <span class="right-icon">
                      <i class="bi bi-chevron-down"></i>
                      </span>
                  </span>
                  </a>
              </b>
              <div class="collapse" id="promotion">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="#promotion" class="nav-link px-3">
                      <span class="me-2">
                      </span>
                      <span style="color: white">Chương trình khuyến mãi</span>
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#" class="nav-link px-3">
                      <span class="me-2" >

                      </span>
                      <span>Tất cả voucher</span>
                    </a>
                  </li> -->
                </ul>
              </div>
            </li>
            <li>
              <b>
                  <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#account" >
                  <span class="me-2"><i class="bi bi-people"></i></span>
                  <span style="color: white">Tài khoản</span>
                  <span class="ms-auto">
                      <span class="right-icon">
                      <i class="bi bi-chevron-down"></i>
                      </span>
                  </span>
                  </a>
              </b>
              <div class="collapse" id="account">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="#admin-account-customer" class="nav-link px-3">
                      <span class="me-2" >

                      </span>
                      <span style="color: white">Tất cả các khách hàng</span>
                    </a>
                  </li>
                  <li>
                    <a href="#admin-account-employee" class="nav-link px-3">
                      <span class="me-2" >

                      </span>
                      <span style="color: white">Quản lý nhân viên</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            
            <li class="my-4"><hr class="dropdown-divider bg-dark" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Thống kê
              </div>
            </li>
            <li>
              <b>
                  <a class="nav-link px-3 sidebar-link" href="#">
                  <span class="me-2"><i class="bi bi-chat-left-dots"></i></i></span>
                  <span style="color: white">Đánh giá sản phẩm</span>
                  </a>
              </b>
            </li>
            <li>
              <b>
                  <a class="nav-link px-3 sidebar-link" href="#admin-sales-report">
                  <span class="me-2"><i class="bi bi-bar-chart"></i></span>
                  <span style="color: white">Doanh số bán hàng</span>
                  </a>
              </b>
            </li>
            <li>
              <b>
                  <a class="nav-link px-3 sidebar-link" href="#doanhThu">
                  <span class="me-2"><i class="bi bi-graph-up"></i></span>
                  <span style="color: white">Doanh thu</span>
                  </a>
              </b>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
        <div ng-view>
        </div>
    </main>
  </div>
  <!-- end admin display -->

    
  <script src="/js/utils/jquery.min.js"></script>
  <script src="/js/utils/popper.min.js"></script>
  <script src="/js/utils/bootstrap.min.js"></script>
  <script src="/js/utils/angular.js"></script>
  <script src="/js/utils/angular-route.js"></script>
  <script src="/js/utils/angular-jwt.min.js"></script>

  <!-- <script src="app.js"></script> -->

  <script src="/js/app/common/Login.js"></script>
  <script src="/js/app/user/Home.js"></script>
  <script src="/js/app/user/cart/Cart.js"></script>/

  <script src="/js/app/user/product/ProductDetail.js"></script>
  <script src="/js/app/user/personal/Personal.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

  <script src="/js/app/admin/HomeAdmin.js"></script>
  <script src="/js/app/admin/order/ReturnOrder.js"></script>
  <script src="/js/app/admin/product/Product.js"></script>
  <script src="/js/app/admin/product/ProductDetail.js"></script>
  <script src="/js/app/admin/order/CreateOrder.js"></script>
  <script src="/js/app/admin/product/Properties.js"></script>
  <script src="/js/app/admin/category/category.js"></script>
  <script src="/js/app/admin/order/OrderManagement.js"></script>
  <script src="/js/app/admin/order/DELIVERING.js"></script>
  <script src="/js/app/admin/order/CONFIRMED.js"></script>
  <script src="/js/app/admin/order/WAIT_FOR_THE_SHIPPER_TO_PICK_UP.js"></script>
  <script src="/js/app/admin/order/DELIVERED.js"></script>
  <script src="/js/app/admin/order/NO_DELIVERY.js"></script>
  <script src="/js/app/admin/order/CANCELLED.js"></script>
  <script src="/js/app/admin/order/OrderWaitConfirm.js"></script>
  <script src="/js/app/admin/promotion/Promotion.js"></script>
  <script src="/js/app/admin/statictic/SaleReport_chart.js"></script>
  <script src="/js/app/admin/account/user.js"></script>
  <script src="/js/app/common/ChangePassword.js"></script>
  <script src="/js/app/admin/account/Customer.js"></script>

   <!-- <script src="/js/app/admin/SaleReport_chart.js"></script> -->

  <script src="https://www.gstatic.com/firebasejs/8.2.8/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.8/firebase-storage.js"></script>

  <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCFXNshJ6Py2SrzkoWhF1UqDj7b-WlocEA",
        authDomain: "datn-d68cb.firebaseapp.com",
        projectId: "datn-d68cb",
        storageBucket: "datn-d68cb.appspot.com",
        messagingSenderId: "803422832114",
        appId: "1:803422832114:web:f018db12b45da44543576b"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
  </script>

  <!-- <script src="/js/app/admin/chart.js"></script> -->

  <script>
    const app = angular.module("app", ["ngRoute", "angular-jwt", "chart.js"]);      
    app.config(function ($routeProvider, $locationProvider, $httpProvider, jwtOptionsProvider) {
      $locationProvider.hashPrefix("");

      const token = localStorage.getItem('x-auth-token');
      if(token && token != null){
        $httpProvider.interceptors.push(function($q) {
          return {
            'request': function(config) {
              config.headers['x-auth-token'] = localStorage.getItem('x-auth-token') || 'eyJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6InRlc3QiLCJkaXNwbGF5TmFtZSI6IiIsInJvbGVzIjpbIlVTRVIiXSwiZXhwIjoxNjcyMzc3MDY4fQ.gA4fxrSricIpgi2nNgSzHFtfHy_ELnwhUS38RQeniAv8GyYaxE1-D19hR-jiuBfSAZeJVcYGlDCVIU2PBJ7Jjg';
              return config;
            }
          };
        });
      }

      $routeProvider
        .when("/home", {
          templateUrl: "/views/user/Home.html",
          controller: "home"
        })
        .when("/doanhThu", {
          templateUrl: "/views/common/DoanhThu.html",
          // controller: "home"
        })
        .when("/login", {
          templateUrl: "/views/common/Login.html",
          controller: "login"
        })
        .when("/product-detail/:productId", {
          templateUrl: "/views/user/product/ProductDetail.html",
          controller: "productDetailUser"
        })
        .when("/user-personal", {
          templateUrl: "views/user/personal/Personal.html",
          controller: "personal"
        })
        .when("/cart", {
          templateUrl: "views/user/cart/ShopingCart.html",
          controller: "cart"
        })
        /** admin*/
        .when("/admin-dashboard", {
            templateUrl: "views/admin/main/HomeAdmin.html",
            controller: "homeAdmin"
        })
        .when("/product", {
            templateUrl: "views/admin/product/Product.html",
            controller: "product"
        })
        .when("/admin/product-detail/:productId", {
            templateUrl: "views/admin/product/ProductDetail.html",
            controller: "productDetail"
        })
        .when("/order/create-order", {
            templateUrl: "/views/admin/order/CreateOrder.html",
            controller: "createOrder"
        })
        .when("/return-order", {
            templateUrl: "/views/admin/order/ReturnOrder.html",
            controller: "returnOrder"
        })
        .when("/wait-for-confirmation", {
            templateUrl: "views/admin/order/Wait_for_confirmation.html",
            controller: "orderWaitConfirm"
        })
        .when("/order-management", {
            templateUrl: "views/admin/order/OrderManagement.html",
            controller: "orderManagement"
        })
        .when("/admin-sales-report", {
            templateUrl: "views/admin/statistic/Admin_SalesReport.html",
            controller: "adminSaleReport"
        })
        .when("/admin-product-properties", {
            templateUrl: "views/admin/product/Properties.html",
            controller: "properties_product"
        })
        .when("/admin-account-customer", {
            templateUrl: "views/admin/account/CustomerAccount.html",
        })
        .when("/admin-account-employee", {
            templateUrl: "views/admin/product/EmployeeAccount.html",
        })
        .when("/brand-and-category", {
            templateUrl: "views/admin/category/ManageCategory.html",
            controller: "category"
        })
        .when("/DELIVERING", {
            templateUrl: "views/admin/order/DELIVERING.html",
            controller: "DELIVERING"
        })
        .when("/CONFIRMED", {
            templateUrl: "views/admin/order/CONFIRMED.html",
            controller: "CONFIRMED"
        })
        .when("/WAIT_FOR_THE_SHIPPER_TO_PICK_UP", {
            templateUrl: "views/admin/order/WAIT_FOR_THE_SHIPPER_TO_PICK_UP.html",
            controller: "WAIT_FOR_THE_SHIPPER_TO_PICK_UP"
        })
        .when("/DELIVERED", {
            templateUrl: "views/admin/order/DELIVERED.html",
            controller: "DELIVERED"
        })
        .when("/NO_DELIVERY", {
            templateUrl: "views/admin/order/NO_DELIVERY.html",
            controller: "NO_DELIVERY"
        })
        .when("/CANCELLED", {
            templateUrl: "views/admin/order/CANCELLED.html",
            controller: "CANCELLED"
        })
        .when("/promotion", {
            templateUrl: "views/admin/promotion/Promotion.html",
            controller: "promotion"
        })
        .when("/promotion-detail", {
            templateUrl: "views/admin/promotion/PromotionDetail.html",
            // controller: ""
        })
        .when("/admin/user-personal", {
            templateUrl: "views/user/personal/Personal.html",
            //controller: "personal"
        })
        .when("/admin-account-customer", {
            templateUrl: "views/admin/account/CustomerAccount.html",
            controller: "customer"
        })
        .when("/admin-account-employee", {
            templateUrl: "views/admin/account/EmployeeAccount.html",
            controller: "user"
        })
        .when("/change-password", {
            templateUrl: "views/common/ChangePassword.html",
            controller: "changePassword"
        })
        .when("/register", {
            templateUrl: "views/common/Register.html",
            // controller: "changePassword"
        })
        .otherwise({
          templateUrl: "views/user/Home.html",
          controller: "home"
        });

    });

    app.run(['$rootScope', function($rootScope){
      $rootScope.isAdmin = false;
      const userLocal = localStorage.getItem("user");
      const user = userLocal ? JSON.parse(userLocal) : null;
      
      if(user) {
          $rootScope.isLogin = true;
          user.roles.map(item => {
              if(item == "ADMIN"){
                  $rootScope.isAdmin = true;            
              } 
          })
      }
    }])

    app.controller("home", home);
    app.controller("login", login);
    app.controller("productDetailUser", productDetailUser);
    app.controller("personal", personal);
    app.controller("cart", cart);

    app.controller("product", product);
    app.controller("productDetail", productDetail);
    app.controller("createOrder", createOrder);
    app.controller("properties_product", properties_product);
    app.controller("category", category);
    app.controller("homeAdmin", homeAdmin);
    app.controller("orderManagement", orderManagement);
    app.controller("orderWaitConfirm", orderWaitConfirm);
    app.controller("DELIVERING", DELIVERING);
    app.controller("CONFIRMED", CONFIRMED);
    app.controller("WAIT_FOR_THE_SHIPPER_TO_PICK_UP", WAIT_FOR_THE_SHIPPER_TO_PICK_UP);
    app.controller("DELIVERED", DELIVERED);
    app.controller("NO_DELIVERY", NO_DELIVERY);
    app.controller("DELIVERED", DELIVERED);
    app.controller("CANCELLED", CANCELLED);
    app.controller("returnOrder", returnOrder);
    app.controller("promotion", promotion);
    app.controller("user", user);
    app.controller("adminSaleReport", adminSaleReport);
    app.controller("changePassword", changePassword);
    app.controller("customer", customer);

    app.controller("controllerLogout", function($scope, $rootScope){
        
      $scope.logout = () => {
        localStorage.removeItem("x-auth-token");
        localStorage.setItem("user", null);
        document.location.href = "#home";
        $rootScope.isLogin = false;
        $rootScope.isAdmin = false; 
        $rootScope.user = null
      }

    })

  </script>
</body>

</html>